*{
	margin: 0;
	padding: 0;

}
html, body{
	scroll-behavior: smooth;
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: normal;
	font-family: Verdana;
}

section{
	width: 100%;
	height: 100%;
	background-image: url(../images/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow-y: auto;
}

.nav{
	width: 350px;
	height: auto;
	position: fixed;
	top: 10%;
	left: 0;
}
.nav a{
	text-decoration: none;
	font-size: 28px;
	font-family: Verdana;
	font-weight: bold;
	height: 90px;
	margin: 5px 0;
	float: left;
	display: inline-block;
	background-color:#1f4494;
	color: white;
	line-height: 90px;
	text-align: center;
	transition: 300ms;
}

a.active, .nav a:hover{
	background-color: white;
	color: #1f4494;
	width: 110%;
}
.a{
	width: 95%;
}
.b{
	width: 85%;
}
.c{
	width: 80%;
}
.d{
	width: 75%;
}
.e{
	width: 95%;
}
.f{
	width: 100%;
}

.content{
	position: absolute;
	width: 900px;
	min-height: 500px;
	height: auto;
	right: 25px;
	top: 10%;
}
.home{
	position: absolute;
	right: 1;
	bottom: -50px;
	color: white;
	font-family: Verdana;
}
.home h1{
	font-size: 50px;
	padding-right: 90px;
	border-bottom: 1px solid white;
	text-transform: uppercase;
}
.home h3{
	font-size: 35px;
	padding: 5px 0;
	opacity: 0,5;
	text-transform: uppercase;
}


.personalinfo{
	position: absolute;
	left: -90px;
	right: 0;
	top: 20px
	color: #000;
	font-family: Verdana;
	padding: 0 150px;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
	background-image: url(../images/dim.png);
	display: none;
}

.info{
	transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	transform: scale(1);
	-webkit-transform: scale(1);
}

.info:hover{
	transform: scale(1.1);
}

.personalinfo p.head{
	font-size: 20px;
	color: white;
	line-height: 58px;
	font-style: bold;
	left: 0;
	

}

.personalinfo p{
	color: white;
	font-size: 18px;
	line-height: 35px;
	margin-bottom: 15px;
	z-index: 2;
}


.itinterest{
	position: absolute;
	left: -90px;
	right: 0;
	top: 20px
	color: white;
	font-family: Verdana;
	padding: 0 150px;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
	background-image: url(../images/dim.png);
	display: none;
}
.itinterest p{
	color: white;
	font-size: 18px;
	line-height: 35px;
	margin-bottom: 15px;
}

.idealjob{
	position: absolute;
	left: -90px;
	right: 0;
	top: 20px
	font-color: white;
	font-family: Verdana;
	padding: 0 150px;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
	background-image: url(../images/dim.png);
	display: none;
}
.idealjob p{
	color: white;
	font-size: 18px;
	line-height: 35px;
	margin-bottom: 15px;
}
.job{
	width: 600px;
	height: 400px;
	transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	transform: scale(1);
	-webkit-transform: scale(1);
}

.job:hover{
	transform: scale(1.1);
}

.personalprofile{
	position: absolute;
	left: -90px;
	right: 0;
	top: 50px
	font-color: white;
	font-family: Verdana;
	padding: 0 150px;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
	background-image: url(../images/dim.png);
	display: none;
}
.personalprofile .image{
	width: 100%;
	margin:1%;
	float: left;
	transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	transform: scale(1);
	-webkit-transform: scale(1);
}
.image:hover{
	transform: scale(1.1);
}

.image img{
	width: 100%;
}

.personalprofile h1{
	text-align: center;
	color: white;
	font-size: 22px;
}

.personalprofile h2{
	text-align: center;
	color: white;
	font-size: 22px;
}

.personalprofile h3{
	text-align: center;
	color: white;
	font-size: 22px;
}

::-webkit-scrollbar
{
	width: 10px;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 6px;
}

::-webkit-scrollbar-thumb
{
	background: linear-gradient(#6047ff, #bc47ff, #47ceff);
	border-radius: 6px;
}

.personalprofile p{
	color: white;
	font-size: 18px;
	line-height: 35px;
	margin-bottom: 15px;
}

.projectidea{
	position: absolute;
	left: -90px;
	right: 0;
	top: 20px
	font-color: white;
	font-family: Verdana;
	padding: 0 150px;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
	background-image: url(../images/dim.png);
	display: none;
}
.projectidea h1{
	text-align: center;
	color: white;
	font-size: 30px;
}
.projectidea p{
	color: white;
	font-size: 18px;
	line-height: 35px;
	margin-bottom: 15px;
}



